<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title> Gráfica de temperaturas y humedades</title>
        <meta name="description" content="Temperatura historica">
        <meta name="author" content="Víctor Santoja">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/skeleton.css">
        <!-- <link rel="icon" type="image/png" href="/static/images/favicon.png"> -->
    </head>
    <body style="background-color:#fff1e7">
        <div class="container" style="text-align: center;">
            <div class="row" style="margin-top: 2%;">
                <form class="two-third column" id="datetime_range" action="/temp_graphic" method="POST">
                    <div >
                        <label for="from">Desde</label>
                        <input class="u-middle-width" id="datetimepicker1" type="date" value="{{from_date}}" name="from">
                    </div>
                    <div>
                        <label for="to">Hasta</label>
                        <input class="u-middle-width" id="datetimepicker2" type="date" value="{{to_date}}" name="to">
                    </div>
                    <div>
                        <input class="button-primary" type="submit" value="Submit" style="position:relative; top:28px" id="submit_button" />
                    </div> 
                </form>
            </div>
            <div class="row">
                <a href="/last_temp" style="position:relative;top:15px">Última temperatura obtenida</a> 
            </div>
            </br>
            <div class="row">
                <embed type="image/svg+xml" src={{graph_data_temp}} style='max-width:1000px'/>
            </div>
            <div class="row">
                <embed type="image/svg+xml" src={{graph_data_hum}} style='max-width:1000px'/>
            </div>
        </div>
    </body>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
</html>
