<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title> Grafica de temperaturas</title>
        <meta name="description" content="Temperatura historica">
        <meta name="author" content="Victor Santoja">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="tex    t/css">
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/skeleton.css">
        <!-- <link rel="icon" type="image/png" href="/static/images/favicon.png"> -->
    </head>
    <body>
        <div class="container">
            <div class="row">
                <form id="datetime_range" action="/temp_graphic" method="POST">
                    <!-- <div class="row">          -->
                    <div class="three columns">
                        <label for="from">From date</label>
                        <input class="u-full-width" id="datetimepicker1" type="date" value="{{from_date}}    " name="from">
                    </div>
                    <!-- </div> -->
                    <!-- <div class="row"> -->
                    <div class="three columns">
                        <label for="to">To date</label>
                        <input class="u-full-width" id="datetimepicker2" type="date" value="{{to_date}}"     name="to">
                    </div>
                    <!-- </div>          -->
                    <!-- <div class="row"> --> 
                    <div class="two columns">
                        <input class="button-primary" type="submit" value="Submit" style="position:relati    ve; top: 28px" id="submit_button" />
                    </div>
                    <!-- </div> -->
                </form>
            </div>
            <div class="row">
                <div class="one column">
                    <a href="/temp_now" style="position:relative;top:15px">Current</a>
                </div>
            </div>
            <div class="row">
                <embed type="image/svg+xml" src={{graph_data|safe}} style='max-width:1000px'/>
            </div>
        </div>
    </body>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
</html>
