<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Temperatura Historica</title>
    <meta name="description" content="Temperatura historica">
    <meta name="author" content="Victor Santoja">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">
    <!-- <link rel="icon" type="image/png" href="/static/images/favicon.png"> -->
  </head>
  <body>
    <div class="container">
      <div class="row">
          <form id="datetime_range" action="/temp_historic" method="POST"> 
            <!-- <div class="row">          -->
              <div class="three columns">
                <label for="from">From date</label>
                <input class="u-full-width" id="datetimepicker1" type="date" value="{{from_date}}" name="from">
              </div>
            <!-- </div> -->
            <!-- <div class="row"> -->
              <div class="three columns">
                <label for="to">To date</label>           
                <input class="u-full-width" id="datetimepicker2" type="date" value="{{to_date}}" name="to">
              </div>   
            <!-- </div>          -->
            <!-- <div class="row"> -->
              <div class="two columns">    
                <input type="hidden" class="timezone" name="timezone" />       
                <input class="button-primary" type="submit" value="Submit" style="position:relative; top: 28px" id="submit_button" />
              </div>
            <!-- </div> -->
          </form> 
      </div>
    <div class="row">
        <div class="one column">
            <a href="/temp_now" style="position:relative;top:15px">Current</a>
        </div>
    </div>
    <div class="row">
        <a href="" id="plotly_url" target="_blank"></a><span id="plotly_wait"></span>
    </div>
        <div class="row">
            <div class="one-third column" style="margin-top: 5%">
                <strong>Showing all records</strong>
                <h2>Temperatures</h2>
                <table class="u-full-width">
                    <thead style="display:block;">
                        <tr>
                            <th>Date</th>
                            <th>                              &deg;F</th>
                        </tr>
                    </thead>
                    <tbody style="height:450px; overflow:scroll; display:block;">
                        {% for row in temp %}
                        <tr>
                            <td>{{row[0]}}</td>
                            <td>{{'%0.2f'|format(row[1])}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h2>Humidities</h2>
                <table class="u-full-width">
                    <thead style="display:block;">
                        <tr>
                            <th>Date</th>
                            <th>                              %</th>
                        </tr>
                    </thead>
                    <tbody style="height:450px; overflow:scroll; display:block;">
                        {% for row in hum %}
                        <tr>
                            <td>{{row[0]}}</td>
                            <td>{{'%0.2f'|format(row[1])}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="two-thirds column" style="margin-top: 5%">
                <div class="row">                  
                    <div class="row">
                        <div class="three columns">
                            <div id="chart_temps"></div>
                                <div id="chart_humid"></div>
                                </div>
                            </div>
                        </div>     
                    </div>
                </div>
  </body>
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
</html>
